.container
{
    width: 50%;
    margin: auto;
    display: flex;
}

.container__img
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 55px;
}

.img
{
    max-width: 100%;
}
/* a
{
    text-align: center;
} */